PrimeroProyecto.json
[
    {
        "id": "tab_dashboard",
        "type": "tab",
        "label": "Cliente Dashboard - Riego",
        "disabled": false,
        "info": "Recibe datos via MQTT y muestra humedad, temperatura y estado del sistema en el dashboard"
    },
    {
        "id": "tab_sensor",
        "type": "tab",
        "label": "Cliente Sensor - Riego",
        "disabled": false,
        "info": "Simula los sensores de humedad y temperatura del suelo, y envia el estado del sistema por MQTT"
    },
    {
        "id": "d33bf3e127758468",
        "type": "group",
        "z": "tab_sensor",
        "name": "Sistema de Riego - Cliente Sensor",
        "style": {
            "stroke": "#2e7d32",
            "fill": "#e8f5e9",
            "label": true,
            "color": "#1b5e20"
        },
        "nodes": [
            "inject_humedad",
            "random_humedad",
            "inject_temp",
            "random_temp",
            "build_json",
            "change_sensores_json",
            "mqtt_out_sensores",
            "debug_sensores",
            "inject_estado",
            "mqtt_out_estado",
            "debug_estado",
            "comment_change_sensor",
            "comment_join",
            "comment_mqtt_sensores",
            "comment_estado",
            "comment_mqtt_estado"
        ],
        "x": 54,
        "y": 99,
        "w": 1132,
        "h": 682
    },
    {
        "id": "2263c378fd95c843",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8ea72f9c63699ea2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "base-config",
        "type": "ui-base",
        "name": "Dashboard Base",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-notification"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 5,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "theme-riego",
        "type": "ui-theme",
        "name": "Tema Riego",
        "colors": {
            "surface": "#ffffff",
            "primary": "#2e7d32",
            "bgPage": "#e8f5e9",
            "groupBg": "#ffffff",
            "groupOutline": "#a5d6a7"
        }
    },
    {
        "id": "page_riego",
        "type": "ui-page",
        "name": "Dashboard Riego Inteligente",
        "ui": "base-config",
        "path": "/riego",
        "icon": "mdi:sprout",
        "layout": "grid",
        "theme": "theme-riego",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "group_sensores",
        "type": "ui-group",
        "name": "Sensores del Suelo",
        "page": "page_riego",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group_alarmas",
        "type": "ui-group",
        "name": "Alarmas en Tiempo Real",
        "page": "page_riego",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group_estado",
        "type": "ui-group",
        "name": "Estado del Sistema",
        "page": "page_riego",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b17da14b99e23b7c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "comment_mqtt_in_sensores",
        "type": "comment",
        "z": "tab_dashboard",
        "name": "--- MQTT IN: recibe humedad y temperatura del suelo ---",
        "info": "Se suscribe al topico riego/sensores para recibir el JSON con humedad y temperatura",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "mqtt_in_sensores",
        "type": "mqtt in",
        "z": "tab_dashboard",
        "name": "Recibir sensores MQTT",
        "topic": "riego/sensores",
        "qos": "1",
        "datatype": "json",
        "broker": "2263c378fd95c843",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "debug_recep_sensores",
                "gauge_temperatura",
                "gauge_humedad",
                "switch_alarmas"
            ]
        ]
    },
    {
        "id": "debug_recep_sensores",
        "type": "debug",
        "z": "tab_dashboard",
        "name": "Debug recepcion sensores",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 80,
        "wires": []
    },
    {
        "id": "comment_gauge_temp",
        "type": "comment",
        "z": "tab_dashboard",
        "name": "--- GAUGE Temperatura: muestra °C con zonas de color ---",
        "info": "Widget tipo medio circulo. Verde hasta 25C, amarillo hasta 35C, rojo sobre 35C",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "gauge_temperatura",
        "type": "ui-gauge",
        "z": "tab_dashboard",
        "name": "Temperatura Suelo",
        "group": "group_sensores",
        "order": 1,
        "value": "$round(payload.temperatura, 1)",
        "valueType": "jsonata",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Temperatura Suelo",
        "alwaysShowTitle": true,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#42a5f5",
                "text": "Frio",
                "textType": "label"
            },
            {
                "from": "15",
                "color": "#66bb6a",
                "text": "Optimo",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#ffa726",
                "text": "Calido",
                "textType": "label"
            },
            {
                "from": "42",
                "color": "#ef5350",
                "text": "Critico",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "comment_gauge_hum",
        "type": "comment",
        "z": "tab_dashboard",
        "name": "--- GAUGE Humedad: muestra % con zonas de color ---",
        "info": "Widget tipo aguja. Zona optima de humedad para riego entre 40% y 70%",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "gauge_humedad",
        "type": "ui-gauge",
        "z": "tab_dashboard",
        "name": "Humedad Suelo",
        "group": "group_sensores",
        "order": 2,
        "value": "$round(payload.humedad, 1)",
        "valueType": "jsonata",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humedad Suelo",
        "alwaysShowTitle": true,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ef5350",
                "text": "Seco",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#66bb6a",
                "text": "Optimo",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#42a5f5",
                "text": "Saturado",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 740,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "comment_switch_alarmas",
        "type": "comment",
        "z": "tab_dashboard",
        "name": "--- SWITCH: evalua si temperatura o humedad generan alarma ---",
        "info": "Ruta los mensajes segun si temperatura supera 42C (alarma) o humedad baja de 30% (alarma)",
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "switch_alarmas",
        "type": "switch",
        "z": "tab_dashboard",
        "name": "Evaluar alarmas",
        "property": "payload.temperatura",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "42",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "42",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 420,
        "wires": [
            [
                "change_alarma_temp_on"
            ],
            [
                "change_alarma_temp_off"
            ]
        ]
    },
    {
        "id": "change_alarma_temp_on",
        "type": "change",
        "z": "tab_dashboard",
        "name": "Estado: alarma temperatura ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "😬ALARMA TEMPERATURA ALTA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ui_update.color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 380,
        "wires": [
            [
                "text_estado_temp"
            ]
        ]
    },
    {
        "id": "change_alarma_temp_off",
        "type": "change",
        "z": "tab_dashboard",
        "name": "Estado: temperatura normal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "😁 Temperatura Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ui_update.color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 460,
        "wires": [
            [
                "text_estado_temp"
            ]
        ]
    },
    {
        "id": "comment_text_estado_temp",
        "type": "comment",
        "z": "tab_dashboard",
        "name": "--- TEXT: muestra alarma de temperatura ---",
        "info": "Widget de texto que indica si hay alarma de temperatura alta en el suelo",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "text_estado_temp",
        "type": "ui-text",
        "z": "tab_dashboard",
        "group": "group_alarmas",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Alarma Temperatura",
        "label": "Estado Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "comment_mqtt_in_estado",
        "type": "comment",
        "z": "tab_dashboard",
        "name": "--- MQTT IN: recibe estado del sistema (JSON complejo) ---",
        "info": "Se suscribe al topico riego/estado para recibir el JSON con nombre, ubicacion y estados booleanos",
        "x": 250,
        "y": 540,
        "wires": []
    },
    {
        "id": "mqtt_in_estado",
        "type": "mqtt in",
        "z": "tab_dashboard",
        "name": "Recibir estado sistema MQTT",
        "topic": "riego/estado",
        "qos": "1",
        "datatype": "json",
        "broker": "8ea72f9c63699ea2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 640,
        "wires": [
            [
                "debug_recep_estado",
                "text_nombre",
                "text_ubicacion",
                "text_riego",
                "text_alarma_temp_estado",
                "text_alarma_hum_estado"
            ]
        ]
    },
    {
        "id": "debug_recep_estado",
        "type": "debug",
        "z": "tab_dashboard",
        "name": "Debug recepcion estado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "comment_text_nombre",
        "type": "comment",
        "z": "tab_dashboard",
        "name": "--- TEXT widgets: muestran campos del JSON de estado ---",
        "info": "Cada widget extrae un campo especifico del JSON de estado usando JSONata",
        "x": 840,
        "y": 700,
        "wires": []
    },
    {
        "id": "text_nombre",
        "type": "ui-text",
        "z": "tab_dashboard",
        "group": "group_estado",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Nombre Sistema",
        "label": "Sistema:",
        "format": "{{msg.payload.sistema.nombre}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "msg.payload.sistema.nombre",
        "valueType": "jsonata",
        "x": 500,
        "y": 640,
        "wires": []
    },
    {
        "id": "text_ubicacion",
        "type": "ui-text",
        "z": "tab_dashboard",
        "group": "group_estado",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "Ubicacion",
        "label": "Ubicacion:",
        "format": "{{msg.payload.sistema.ubicacion}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "msg.payload.sistema.ubicacion",
        "valueType": "jsonata",
        "x": 490,
        "y": 680,
        "wires": []
    },
    {
        "id": "text_riego",
        "type": "ui-text",
        "z": "tab_dashboard",
        "group": "group_estado",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Estado Riego",
        "label": "Riego:",
        "format": "{{msg.payload.sistema.estado.riego}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "msg.payload.sistema.estado.riego",
        "valueType": "jsonata",
        "x": 480,
        "y": 720,
        "wires": []
    },
    {
        "id": "text_alarma_temp_estado",
        "type": "ui-text",
        "z": "tab_dashboard",
        "group": "group_estado",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "Alarma Temp Estado",
        "label": "Alarma Temperatura:",
        "format": "{{msg.payload.sistema.estado.alarmaTemperatura}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "msg.payload.sistema.estado.alarmaTemperatura",
        "valueType": "jsonata",
        "x": 520,
        "y": 760,
        "wires": []
    },
    {
        "id": "text_alarma_hum_estado",
        "type": "ui-text",
        "z": "tab_dashboard",
        "group": "group_estado",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "Alarma Hum Estado",
        "label": "Alarma Humedad:",
        "format": "{{msg.payload.sistema.estado.alarmaHumedad}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "msg.payload.sistema.estado.alarmaHumedad",
        "valueType": "jsonata",
        "x": 510,
        "y": 800,
        "wires": []
    },
    {
        "id": "comment_humedad",
        "type": "comment",
        "z": "tab_sensor",
        "name": "--- SENSOR HUMEDAD: se dispara cada 60s ---",
        "info": "Genera un valor aleatorio de humedad del suelo (%) cada 60 segundos y lo almacena en msg.humedad",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject_humedad",
        "type": "inject",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "Cada 1 min - Humedad",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "riego/sensores",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "random_humedad"
            ]
        ]
    },
    {
        "id": "random_humedad",
        "type": "random",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "Valor aleatorio humedad",
        "low": 0,
        "high": "100",
        "inte": "false",
        "property": "humedad",
        "x": 650,
        "y": 140,
        "wires": [
            [
                "build_json"
            ]
        ]
    },
    {
        "id": "comment_temp",
        "type": "comment",
        "z": "tab_sensor",
        "name": "--- SENSOR TEMPERATURA: se dispara cada 120s ---",
        "info": "Genera un valor aleatorio de temperatura del suelo (C) cada 120 segundos y lo almacena en msg.temperatura",
        "x": 280,
        "y": 180,
        "wires": []
    },
    {
        "id": "inject_temp",
        "type": "inject",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "Cada 2 min - Temperatura",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "riego/sensores",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "random_temp"
            ]
        ]
    },
    {
        "id": "random_temp",
        "type": "random",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "Valor aleatorio temperatura",
        "low": 0,
        "high": "50",
        "inte": "false",
        "property": "temperatura",
        "x": 660,
        "y": 260,
        "wires": [
            [
                "build_json"
            ]
        ]
    },
    {
        "id": "comment_join",
        "type": "comment",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "--- JOIN: acumula humedad y temperatura antes de armar el JSON ---",
        "info": "El nodo join espera tener ambos valores (humedad y temperatura) para armar un solo mensaje JSON eficiente",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "build_json",
        "type": "join",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "Acumular humedad y temperatura",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "useparts": true,
        "timeout": "3",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1000,
        "y": 200,
        "wires": [
            [
                "change_sensores_json"
            ]
        ]
    },
    {
        "id": "comment_change_sensor",
        "type": "comment",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "--- CHANGE: arma el payload JSON con humedad y temperatura ---",
        "info": "Construye el objeto JSON {humedad, temperatura} que se publicara en MQTT",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "change_sensores_json",
        "type": "change",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "Armar JSON sensores",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"humedad\": msg.humedad, \"temperatura\": msg.temperatura}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "riego/sensores",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 360,
        "wires": [
            [
                "mqtt_out_sensores",
                "debug_sensores"
            ]
        ]
    },
    {
        "id": "debug_sensores",
        "type": "debug",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "Debug sensores",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "comment_mqtt_sensores",
        "type": "comment",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "--- MQTT OUT: publica humedad+temperatura en el broker local ---",
        "info": "Envia el JSON de sensores al broker MQTT local en el topico riego/sensores",
        "x": 320,
        "y": 500,
        "wires": []
    },
    {
        "id": "mqtt_out_sensores",
        "type": "mqtt out",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "Publicar sensores MQTT",
        "topic": "riego/sensores",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b17da14b99e23b7c",
        "x": 1050,
        "y": 320,
        "wires": []
    },
    {
        "id": "comment_estado",
        "type": "comment",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "--- ESTADO DEL SISTEMA: se envia cada 60s ---",
        "info": "Inyecta el JSON de estado del sistema con nombre, ubicacion y estado del riego/alarmas",
        "x": 260,
        "y": 560,
        "wires": []
    },
    {
        "id": "inject_estado",
        "type": "inject",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "Cada 1 min - Estado sistema",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 1.5,
        "topic": "riego/estado",
        "payload": "{\"sistema\":{\"nombre\":\"Riego Inteligente\",\"ubicacion\":\"Invernadero 1\",\"estado\":{\"riego\":\"apagado\",\"alarmaTemperatura\":false,\"alarmaHumedad\":false}}}",
        "payloadType": "json",
        "x": 220,
        "y": 640,
        "wires": [
            [
                "mqtt_out_estado",
                "debug_estado"
            ]
        ]
    },
    {
        "id": "debug_estado",
        "type": "debug",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "Debug estado sistema",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 680,
        "wires": []
    },
    {
        "id": "comment_mqtt_estado",
        "type": "comment",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "--- MQTT OUT: publica el estado del sistema ---",
        "info": "Publica el JSON de estado del sistema en el topico riego/estado del broker MQTT local",
        "x": 260,
        "y": 740,
        "wires": []
    },
    {
        "id": "mqtt_out_estado",
        "type": "mqtt out",
        "z": "tab_sensor",
        "g": "d33bf3e127758468",
        "name": "Publicar estado MQTT",
        "topic": "riego/estado",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b17da14b99e23b7c",
        "x": 540,
        "y": 600,
        "wires": []
    }
]